---
---

@import "{{ site.theme }}";

/* Colors */

$light-blue: #6496c8;
$dark-blue: #184169;
$midnight: #1a1c37;
$yellow: #fac864;
$gray: #818285;
$black: #141417;

/* Overrides */

h1 {
    color: $dark-blue;
    margin: 0;
}

h2 {
    color: $light-blue;
}

h3 {
    color: $light-blue;
    margin: 0;
}

p {
    font-size: 18px;
    text-align: justify;
}

#header_wrap {
    height: 100%;
    width: 100%;
    background-image: url('../images/tower.jpg');
    background-size: cover;
    background-position: center center;
    position: fixed;
    top: 0;
    transition: 0.2s;
    z-index: 1;
}

#header_wrap .inner {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0px 0px 0px calc(calc(100% - 640px) / 2 + 10px);
}

#main_content {
    background-color: #fafafa
}

#content {
    padding-top: 150%;
    transition: 0.2s;
}

#footer_wrap {
    background: $dark-blue;
}

table, th, td {
    border: 0px solid $black;
    background-color: transparent;
    padding: 0px;
}

table {
    margin-bottom: 0px;
    border-collapse: collapse;
}

tr {
    height: auto;
    margin: 0;
    padding: 0;
}

td {
    margin: 0;
    padding: 0;
}

.center_element {
    height: 100px;
    text-align: center;
    vertical-align: middle;
}

.code_box {
    vertical-align: top;
    background-color: #ffffff;
}

.code_write {
    margin: 0;
    padding: 0;
    border: 0px;
}

code {
    box-shadow: 0 0 10px transparent;
    display: block;
    white-space: pre-wrap;
}

img {
    background-color: transparent;
    border: transparent;
    box-shadow: 0 0 5px transparent;
    -webkit-box-shadow: 0 0 5px transparent;
    -moz-box-shadow: 0 0 5px transparent;
    -o-box-shadow: 0 0 5px transparent;
    -ms-box-shadow: 0 0 5px transparent;
    max-width: 640px;
}

button {
    background-color: $light-blue;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 15px 32px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}